body {
    background: radial-gradient(circle, #771f09, #80c205);
}

*{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    line-height: 150%;
    font-size: 32px;
}

.logo {
    padding-top: 10px;
    margin-left: 25%;
    width: 10%;
    border-radius: 20%;
}
main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 70px;
}

.text-area {
    border-radius: 20px;
    color: rgb(126, 33, 33);
    margin-top: 85px;
    text-transform: lowercase;
}
::placeholder {
    color: black;
}
.text-area:focus {
 outline: none;
}

.mensaje-encriptado {
background:  rgb(126, 33, 33);
background-image: url("img/informatico.jpg");
background-repeat: no-repeat;
border: none;
border-radius: 20px;
color: rgb(8, 8, 8);
margin-left: 25%;
margin-top: 85px;

position: fixed;
}
.mensaje-encriptado:focus {
 outline: none;
}

.botones {
    display: flex;
    margin-top: 18px;
}
.btn-encriptar {
    background:rgb(170, 11, 43); ;
    border: 1px solid rgb(51, 68, 26);
    border-radius: 10px;
    color: rgb(7, 7, 7);
    cursor: pointer;
    height: 60px;
    margin-left: 20px;
    margin-top: 100px;
    position: absolute;
    width: 300px;
}
.btn-desencriptar {
    background-color: rgb(51, 68, 26);
    border: 1px solid rgb(51, 68, 26);
    border-radius: 10px;
    color: rgb(8, 8, 8);
    cursor: pointer;
    height: 60px;
    width: 300px;
    margin-left: 20px;
}
.copiar {
    border: 1px solid rgb(51, 68, 26);
    border-radius: 10px;
    color: rgb(51, 68, 26);
    cursor: pointer;
    height: 60px;
    margin-left: 25.5%;
    margin-top: 25%;
    position: absolute;
    width: 300px; 
}
h6 {
    font-size: 15px;
    color: rgb(73, 71, 69);
}